div{
  display: inline-block;
  margin: 5px;
}
p{
  text-align: center;
  align-content: center;
  margin: auto;

}
button{
  align-items: center;
}
video{
  align-items: center;
}
.borderColor {
       border-style: solid;
       border-color: green;
       border-width: 10px;
     }
